@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";


.data-\[active\=true\]\:text-fd-primary[data-active="true"] {
    /* color: #51B267; */
    color: #8546F0;
    font-weight: 600;
}

.text-fd-primary {
    color: #8546F0;
    font-weight: 600;
}
@media (hover: hover) {
    @supports (color: color-mix(in lab, #8546F0,#8546F0)) {
        .hover\:text-fd-accent-foreground\/80:hover {
            color: #8546F0;
            font-weight: 600;
        }
    }
}

.feed {
    z-index: 3;
}
/* .main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
  
  .main:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
  .main:after {
    content: "";
    background-image: url("/assets/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);
  }
  
  .gradient {
    height: fit-content;
    z-index: 1;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(43, 197, 55) 0px, transparent 50%),
      radial-gradient(at 52% 99%, rgb(253, 10, 34) 0px, transparent 50%),
      radial-gradient(at 10% 29%, rgb(91, 51, 202) 0px, transparent 50%),
      radial-gradient(at 97% 96%, rgb(252, 214, 149) 0px, transparent 50%),
      radial-gradient(at 33% 50%, rgb(93, 128, 211) 0px, transparent 50%),
      radial-gradient(at 79% 53%, rgb(241, 150, 176) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
  }
  
  @media screen and (max-width: 640px) {
    .main {
      padding: 0;
    }
  } */
  .post_layout {
    @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
  }
  .post_card {
    @apply block rounded-lg border border-gray-200 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800;
  }