@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import "tw-animate-css";


.data-\[active\=true\]\:text-fd-primary[data-active="true"] {
    /* color: #51B267; */
    color: #8546F0;
    font-weight: 600;
}

.text-fd-primary {
    color: #8546F0;
    font-weight: 600;
}
@media (hover: hover) {
    @supports (color: color-mix(in lab, #8546F0,#8546F0)) {
        .hover\:text-fd-accent-foreground\/80:hover {
            color: #8546F0;
            font-weight: 600;
        }
    }
}